<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Test1</display-name>
   <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping> 
   <servlet>
    <servlet-name>SelectGroupServlet</servlet-name>
    <servlet-class>myservlet.SelectGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGroupServlet</servlet-name>
    <url-pattern>/selectgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectTopicServlet</servlet-name>
    <servlet-class>myservlet.SelectTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTopicServlet</servlet-name>
    <url-pattern>/selecttopic</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchDocumentServlet</servlet-name>
    <servlet-class>myservlet.SearchDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDocumentServlet</servlet-name>
    <url-pattern>/searchdocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchGradeServlet</servlet-name>
    <servlet-class>myservlet.SearchGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGradeServlet</servlet-name>
    <url-pattern>/searchgrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchProjectServlet</servlet-name>
    <servlet-class>myservlet.SearchProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectServlet</servlet-name>
    <url-pattern>/searchproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchReplyServlet</servlet-name>
    <servlet-class>myservlet.SearchReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReplyServlet</servlet-name>
    <url-pattern>/searchreply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTopicServlet</servlet-name>
    <servlet-class>myservlet.SearchTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopicServlet</servlet-name>
    <url-pattern>/searchtopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaGuideGradeServlet</servlet-name>
    <servlet-class>myservlet.TeaGuideGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaGuideGradeServlet</servlet-name>
    <url-pattern>/tea_writeguide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaReplyGradeServlet</servlet-name>
    <servlet-class>myservlet.TeaReplyGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaReplyGradeServlet</servlet-name>
    <url-pattern>/tea_writereply</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaSearchGroupServlet</servlet-name>
    <servlet-class>myservlet.TeaSearchGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaSearchGroupServlet</servlet-name>
    <url-pattern>/tea_searchgroup</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaSerachReplyServlet</servlet-name>
    <servlet-class>myservlet.TeaSerachReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaSerachReplyServlet</servlet-name>
    <url-pattern>/tea_searchreply</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaSubmitTopicServlet</servlet-name>
    <servlet-class>myservlet.TeaSubmitTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaSubmitTopicServlet</servlet-name>
    <url-pattern>/tea_submittopic</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmGroupServlet</servlet-name>
    <servlet-class>myservlet.AdmGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmGroupServlet</servlet-name>
    <url-pattern>/admgroup</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmReplyServlet</servlet-name>
    <servlet-class>myservlet.AdmReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmReplyServlet</servlet-name>
    <url-pattern>/admreply</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmStudentServlet</servlet-name>
    <servlet-class>myservlet.AdmStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmStudentServlet</servlet-name>
    <url-pattern>/admstudent</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmTeacherServlet</servlet-name>
    <servlet-class>myservlet.AdmTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmTeacherServlet</servlet-name>
    <url-pattern>/admteacher</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmTopicServlet</servlet-name>
    <servlet-class>myservlet.AdmTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmTopicServlet</servlet-name>
    <url-pattern>/admtopic</url-pattern> 
  </servlet-mapping>
   <servlet>
    <servlet-name>UpLoadServlet</servlet-name>
    <servlet-class>myservlet.UpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadServlet</servlet-name>
    <url-pattern>/upload</url-pattern> 
  </servlet-mapping>
   <servlet>
    <servlet-name>DownloadServelet</servlet-name>
    <servlet-class>myservlet.DownloadServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServelet</servlet-name>
    <url-pattern>/download</url-pattern> 
  </servlet-mapping>
   <servlet>
    <servlet-name>ImportServlet</servlet-name>
    <servlet-class>myservlet.ImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportServlet</servlet-name>
    <url-pattern>/import</url-pattern> 
  </servlet-mapping>
   <servlet>
    <servlet-name>AdmGroupGradeServlet</servlet-name>
    <servlet-class>myservlet.AdmGroupGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmGroupGradeServlet</servlet-name>
    <url-pattern>/groupgrade</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>Download2</servlet-name>
    <servlet-class>myservlet.Download2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download2</servlet-name>
    <url-pattern>/download2</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>getStatusServlet</servlet-name>
    <servlet-class>myservlet.getStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStatusServlet</servlet-name>
    <url-pattern>/getStatus</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>myservlet.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/upload2</url-pattern> 
  </servlet-mapping>
   
  
</web-app>